/* Base */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  font-size: 0.95rem;
  background-color: #30323e;
  color: white;
  padding-bottom: 1rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1rem;
}

/* Menubar */

.menubar {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
}

.menubar .logo {
  display: inline-block;
  object-fit: contain;
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

.menubar a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.menubar a.active,
.menubar a:hover {
  color: rgba(255, 255, 255, 0.4);
}

/* ---- Tables ---- */
#table-container {
  overflow-x: auto;
  margin-bottom: 2rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  color: white;
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

th,
td {
  border: 0px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

th {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#ow-devices-table table {
  max-width: 600px;
}

#ow-devices-table th:first-child,
#ow-devices-table td:first-child {
  width: 180px;
}


/* Buttons */
button,
input[type="submit"],
input[type="button"] {
  background-color: #0c84bc;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #529cc3;
}

/* Form */
input {
  background-color: #0c84bc;
}

form.form-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  max-width: 500px;
  gap: .7rem 0rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 2rem;
}

form.form-grid label {
  display: flex;
  align-items: center;
}

form.form-grid select,
form.form-grid input[type="text"],
form.form-grid input[type="number"],
form.form-grid input[type="file"],
form.form-grid input[type="password"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid white;
  width: 100%;
}

form.form-grid input[type="checkbox"] {
  transform: scale(1.4);
  justify-self: start;
}

form.form-grid h1 {
  padding-top: 0;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem
}

/* Console */
#log {
  background-color: #222;
  color: #BBB;
  font-family: monospace;
  font-size: 0.85rem;
  padding: 10px;
  height: 80vh;
  overflow: auto;
  border-radius: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#log::-webkit-scrollbar {
  width: 10px;
}

#log::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}


/* ---- Responsive optimizations ---- */
@media (max-width: 630px) {
  body {
    margin: 0.5rem;
  }

  .menubar {
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
  }

  .menubar .logo {
    padding-bottom: 0.5rem;
  }

  .menubar a {
    display: block;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
  }

  /* Form */
  form.form-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    max-width: 100%;
  }

  form.form-grid label {
    justify-content: flex-start;
  }

  form.form-grid input[type="submit"] {
    width: 100%;
  }
}
