name: PlatformIO build test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  TZ: Europe/Berlin

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install PlatformIO Core
        working-directory: ./firmware
        run: pip install --upgrade platformio
      - name: Build PlatformIO default environment (espota)
        working-directory: ./firmware
        run: pio run
      - name: Build PlatformIO esptool environment
        working-directory: ./firmware
        run: pio run -e wt32-eth01_esptool
